*{margin:0; padding:0}
body{
    background-color: teal;
}
h2{
	text-align:center;
	color:white;
	margin-bottom:50px;
	margin-top: 50px;
	background-color:black;
	font-style:italic;
	font-size:30px;
}
input{
	padding:0.7em;
	margin-top:13px;
	margin-right:2px;
	width:130px;
	border: solid 1px white;
	border-radius: 20%!important;
}
form{
	margin: 50px auto;
	display:flex;
	justify-content:center;
}
form dataTable column{
	display:inline-block;
}
th{
	text-align:left;
	padding: 10px 50px;
	background-color:tan;
	border-radius: 10%!important;
}
tbody{
	background-color:white;
	color:black;
}
img{
	display: block;
    margin: auto;
	width: 350px;
	height: 150px;
	border-radius: 50%!important;
	margin-top:13px;
	border:solid 1px black;
}
footer{
	background-color:black;
	color:white;
    position:absolute;
    bottom:0;
    width:100%;
    text-align:center;
    font-style:italic;
}