*{margin:0; padding:0}
body{
    background-color: teal;
}
h2{
	text-align:center;
	color:white;
	margin-top: 50px;
	background-color:black; width:100%;
	font-style:italic;
	font-size:30px;
}
input{
	padding: 0.7em;
    margin-top: 13px;
    margin-right: 2px;
    width: 130px;
    border: solid 1px white;
    border-radius: 20%!important;
}
form{
	margin: 50px auto;
	display:flex;
	justify-content:center;
}
form dataTable column{
	display:inline-block;
}
th{
	text-align:center;
	padding: 10px 50px;
	background-color:tan;
}
td{
	text-align:center;
}
.table{
	margin-top:50px;
}
tbody{
	background-color:white;
	color:black;
}
img{
	display: block;
    margin: auto;
	width: 350px;
	height: 150px;
	border-radius: 50%!important;
	margin-top:13px;
	border:solid 1px black;
}
footer{
	background-color:black;
	color:white;
    bottom:0;
    width:100%;
    text-align:center;
    font-style:italic;
}
/* slideshow from libraria rodrigues*/



html, body{
	width: 100%;
	height: 100%;
	padding: 0;
	margin: 0px;
}

slider {
	display: block;
	width: 100%;
	height: 100%;
	background-color: #1f1f1f;
	overflow: hidden;
	position: absolute;
}

slider > * {
	position: absolute;
	display: block;
	width: 100%;
	height: 50%;
	background: #1f1f1f;
	animation: slide 12s infinite;
	overflow: hidden;
	border:solid 1px black;
	margin-top: 200px;   /*?<¹> if(slideshow===livraria){margin-top:n;}else{magin-top==none}*/
}

slide:nth-child(1){
	left: 0%;
	animation-delay: -1s;
	background-size: cover;
	background-position: center;
}

slide:nth-child(2){
	animation-delay: 2s;
	background-size: cover;
	background-position: center;
}

slide:nth-child(3){
	animation-delay: 5s;
	background-size: cover;
	background-position: center;
}

slide:nth-child(4){
	left: 0%;
	animation-delay: 8s;
	background-size: cover;
	background-position: center;
}

slide p {
	font-family: Comfortaa;
	font-size: 63px;
	text-align: center;
	display: inline-block;
	width: 100%;
	color: #fff;
}

@keyframes slide {
	0% { left: 100%; width: 100%; }
	5% { left: 0%; }
	25% { left: 0%; }
	30% { left: -100%; width: 100%; }
	30.0001% { left: -100%; width: 0%; }
	100% { left: 100%; width: 0%; }
}